{% extends "home/base.html" %} {% load static %} {% block content %}
<div class="main-container">

  <div>
    <h1>Jojong makan</h1>
  </div>

  <div class="menu">
    <div class="menu-1">
      <h5>Menu 1 <br> Harga: Rp 25.000.000</h5>
      <button type="button" class="btn btn-warning" id="kurang-menu-1">Kurang</button>
      <input type="text" name="menu-1" id="menu-1" value="0">
      <button type="button" class="btn btn-success" id="tambah-menu-1">Tambah</button>
    </div>

    <div class="menu-2">
      <h5>Menu 2 <br> Harga: Rp 15.000.000</h5>
      <button type="button" class="btn btn-warning" id="kurang-menu-2">Kurang</button>
      <input type="text" name="menu-2" id="menu-2" value="0">
      <button type="button" class="btn btn-success" id="tambah-menu-2">Tambah</button>
    </div>
  </div>

  <div class="data-diri">
    <form>
      <div class="form-group">
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama">
      </div>
      <div class="form-group">
        <label for="alamat">Alamat</label>
        <input type="text" name="alamat" id="alamat">
      </div>
      <div class="form-group">
        <label for="no-hp">Nomor Handphone</label>
        <input type="text" name="no-hp" id="no-hp">
      </div>
    </form>
  </div>

  <div class="order">
    <div>
      <button type="button" class="btn btn-primary" id="order">Pesan</button>
    </div>
  </div>
  
</div>
{% endblock content %}