html {
    scroll-behavior: smooth;
}

html, body {
    min-width: 100%;
    width: 100%;
    height: 100%;
}

.main-container {
    padding: 10px;
}

.menu {
    margin-bottom: 50px;
}

.menu-1 {
    margin-bottom: 25px;
}